*{
    padding: 0%;
    margin: 0%;
}
/* These is for Home */
.nav-bar{
    height: 60px;
    background-color:#669bbc;
    color:#212529;
    display: flex;
    font-size: large;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}
.Search{
    height: 20px;
    width: 25%; 
    border-radius: 5px;   
    border: 0; 
}
.icon{
    height: 19px;
    background-color: yellow;
    position: relative;
    right: 55px;
    border-radius:5px ;
}
/* .btn1{
    background-color: white;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: 15px;
}
.btn1:hover{
    background-color: #000000;
    color: white;
} */
.logo{
    
    font-size: 25px;
    position: relative;
    right: 50px;
    color:rgba(250, 0, 0, 0.85);
}
.border:hover{
    border-bottom: 2px solid black;
}
a{
    text-decoration: none;
    color: #212529;
}
/* These is for About us */
.aboutimg{
    height: 400px;
    width:50%;
    background-size: cover;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    
}
.abouttext{
    position: relative;
    margin-left: 550px;
    bottom: 400px;
    height: 400px;
} 
h1:hover{
    text-decoration: underline;
}
h4{
    margin: 10px;
    margin-top: 30px;
}
body{
    background-color: #fdf0d5;
} 
/* These is for Log in */
.signin{
    height: 50%;
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #219ebc;
    padding: 50px,60px,70px;
    text-align: center;
    border-radius: 8px;
}
button{
    margin-top: 30px;
    height: 27px;
    width: 70px;
    font-size: 17px;
    font-size: 18px;
    background-color: #dad7cd;
}
.input1{
    margin-top: 30px;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    outline: 0;
    border: 0;
    background: transparent;
    background-color: white;
}
/* These is for Home */
.menu{
    display: flex;
    flex-direction: column;
    height: 500px;
    border: 1px solid black;
    width: 220px;
    position: relative;
    left: 20px;
    top: 10px;
    justify-content: space-evenly;
    background-color: #ccd5ae;
    border-radius: 5px;
   
}
.momo{
    color: #780000;
    font-size: 20px;
    margin-left: 10px;
}
.menutitle{
    color: #000814;
    font-size: 20px;
    position: relative;
    left: 80px;
}
.hero-img{
    background-size: cover;
    height: 250px;
    position: relative;
    left: 250px;
    width: 750px;
    bottom: 490px;
}
.momo:hover{
    /* border: 1px solid #0d1b2a; */
    color: #0d1b2a;
   
}
.order{
    color: #780000;
    height: 50px;
    width: 75%;
    border: 1px solid black;
    position: relative;
    bottom: 480px;
    left: 250px;
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: #ccd5ae;
    padding-left: 10px;
}
.order:hover{
    color: #0d1b2a;
}
.buger{
    height: 160px;
    width: 150px;
    /* border: 1px solid black; */
    position: relative;
    bottom: 470px;
    left: 25%;
}
.bugerimg{
    height:130px ;
    width: 150px;
    background-size: cover;
    border-radius: 10px;
}
.bugertext{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
   justify-content: center;
}
.bugertext:hover{
    background-color:#ffb703;
    color: #f1faee;
}
.pizza{
    height: 160px;
    width: 150px;
    position: relative;
    bottom: 630px;
    left: 41%;
}
.pizzaimg{
    height:130px ;
    width: 150px;
    background-size: cover;
    border-radius: 10px;
}
.pizzatext{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
   justify-content: center;
}
.pizzatext:hover{
    background-color:#ffb703;
    color: #f1faee;
}
.Chicken{
    height: 160px;
    width: 150px;
    position: relative;
    bottom: 789px;
    left: 57%;
}
.Chickenimg{
    height:130px ;
    width: 150px;
    background-size: cover;
    border-radius: 10px;
}
.Chickentext{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
   justify-content: center;
}
.Chickentext:hover{
    background-color:#ffb703;
    color: #f1faee;
}
.drinks{
    height: 160px;
    width: 150px;
    position: relative;
    bottom: 950px;
    left:73%;
}
.drinksimg{
    height:130px ;
    width: 150px;
    background-size: cover;
    border-radius: 10px;
}
.drinkstext{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
   justify-content: center;
}
.drinkstext:hover{
    background-color:#ffb703;
    color: #f1faee;
}
.biryani{
    height: 160px;
    width: 150px;
    position: relative;
    bottom: 1110px;
    left:89%;
}
.biryaniimg{
    height:130px ;
    width: 150px;
    background-size: cover;
    border-radius: 10px;
}
.biryanitext{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
   justify-content: center;
}
.biryanitext:hover{
    background-color:#ffb703;
    color: #f1faee;
}
/* These is for About us */
.branch{
    background-color: #0d1b2a;
    color: #edede9;
    height: 300px;
    width: 30%;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    bottom: 380px;
    left: 16px;
}
.branch:hover{
    background-color:#1b263b ;
    color: #ccd5ae;
    
}
.ourbranch{
    font-size: 21px;
    position: relative;
    left: 30%;
    font-weight: bold;
    color: #ffbe0b;
}
.ravi{
    margin-left: 10px;
    font-size: 20px;
}
.contactus{
    background-color: #0d1b2a;
    color: #edede9;
    height: 300px;
    width: 30%;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    bottom: 683px;
    left: 350px;
}
.facelogo{
    text-decoration: none;
    color: #edede9;
}
.contacttex{
    font-size: 21px;
    color: #ffbe0b;
    margin-left: 30%;
    font-weight: bold;
}
.number{
    font-size: 18px;
    margin-left: 10px;
}

.contactus:hover{
    background-color:#1b263b ;
    color: #ccd5ae;
    
}
.patner{
    background-color: #0d1b2a;
    color: #edede9;
    height: 300px;
    width: 30%;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    bottom: 988px;
    left: 68%;
}
.patnership{
    font-size: 21px;
    position: relative;
    left: 30%;
    font-weight: bold;
    color: #ffbe0b;
}
.firstpatner{
    font-size: 18px;
    margin-left: 10px;

}
.patner:hover{
    background-color:#1b263b ;
    color: #ccd5ae;
}
/* These is for Home */
.offer{
    color: #780000;
    position: relative;
    bottom: 1070px;
    margin-left: 20px;
    padding-left: 10px;
    height: 50px;
    background-color:  #ccd5ae;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.offer:hover{
    color: #0d1b2a;
}
.offers{
    height: 160px;
    width: 150px;
    position: relative;
    bottom: 1050px;
    left:2%;
}
.offer-img{
    border-radius: 5px;

}
.offertext{
    width: 265px;
    font-size: 25px;
    border: 1px solid black;
    padding-left: 10px;
    border-radius: 10px;
}
.offertext:hover{
    background-color:#ffb703;
    color: #f1faee;
}
.offer2{
    height: 160px;
    width: 150px;
    position: relative;
    bottom: 1210px;
    left:33%;
}
.offersimg{
    border-radius: 5px;
    height: 300px;
    width: 700px;
}
footer{
    color: white;
}
.footer-color{
    height: 350px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    bottom: 1050px;
    background-color: #023047;
}
.footer-logo{
    display: flex;
    align-items: center;
    color:white;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 50px;
    margin-top: 20px;
}
.footer-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.copyright{
    width: 200px;
    color: white;
    position: absolute;
    left: 96px;
    margin-top: 66px;

}
.footer-aboutus{
    position: absolute;
    left: 357px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
.footer-contactus{
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
}
.footer-patner{
    position: absolute;
    left: 557px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
.patners-name{
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;

}
.footer-branch{
    position: absolute;
    left: 757px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;

}
.branch-name{
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
}